<p>	<% if current_user %>
	 	Signed in as <%= current_user.email %>. <%= link_to "Log out", user_session_path("current"), :method => :delete %>
	 	<%= link_to "Manage my reservations", user_path(current_user) %>
	<% else %>
		<%= link_to "Log in", new_user_session_path %> or <%= link_to "Sign up", new_user_path %>
	<% end %>
</p>

<h1>Welcome to SeatYourself</h1>
<h3>For business users</h3>
<h4>Restaurant owners can signup or login to:</h4>
<p>CRUD their own business user profile</p>
<p>CRUD their own restaurant profiles</p>
<p>view all reservations made to the restaurants</p>

<h3>For any users</h3>
<h4>Users can signup or login to:</h4>
<p>CRUD reservations</p>
<p>anyone can view the list of restuarants with full details.</p>

<div></div>


<h3>Here are all the restaurants that have joined us:</h3>
<% @restaurant.each do |restaurant|%>
<%= link_to restaurant.name, restaurant_path(restaurant) %>
<%= restaurant.phone %>
<br>
<% end %>

Business Owners<%= link_to "<<Enter here>>",business_users_path %>