

<h1>Restaurant Profile</h1>

<h2><%= @restaurant.name %></h2>
<h4><%= @restaurant.cuisine %></h4>
<%= image_tag(@restaurant.picture_url) %>

<p>Restaurant Name <%=@restaurant.name %> </p>
<p>Phone number: <%=@restaurant.phone %></p>
<p>Restaurant Capacity <%= @restaurant.capacity %></p>
<p>Address: <%=@restaurant.address %></p>

<h3>Make your reservation</h3>
<% if current_user %>
	<%= form_tag(restaurant_reservations_path(@restaurant)) do %>
	<%= fields_for :reservation do |ff| %>

	<%= label_tag :persons %>
	<%= ff.select(:persons, options_for_select([["Please choose",0],["1~2",2],["3~4",4],["4~6",6],["6~8",8]])) %>
	<%= label_tag :date %>
	<%= ff.datetime_select(:date, :minute_step => 30) %>
	<% end %>
	<%= submit_tag :submit %>
	<% end %>
<% else %>
	<%= link_to "Log in", new_user_session_path %> or <%= link_to "Sign up", new_user_path %> to make reservations.
<% end %>


<hr>

