<!-- This is the general layout for non-business users
the key features are:
	check login status
	show notices and alerts -->

<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Notices and alerts are handled here -->
	<% if flash[:notice] %>
		<div class = "notice"><%= flash[:notice] %></div>
	<% end %>
	<% if flash[:alert] %>
		<div class = "flash"><%= flash[:alert] %></div>
	<% end %>	
<!-- Check session status here, ask user to log in or sign out -->
	<p>	
	<% if current_user %>
	 	Hello, <%= current_user.first_name %> <%= current_user.last_name %>!
	 	You are signed in as <%= current_user.email %>. <%= link_to "Log out", user_session_path("current"), :method => :delete %>
	 	<%= link_to "Manage my reservations", user_path(current_user) %>
	<% else%>
	Log in:
		<%= form_tag user_sessions_path do %>
			<%= label_tag :email, "email:" %>
			<%= text_field_tag :email %>
			<%= label_tag :password,"password:" %>
			<%= password_field_tag :password %>
			<%= submit_tag "Log in" %>
		<% end %> 
	or <%= link_to "Sign up", new_user_path %>.
	<h5>Business Users <%= link_to ">>enter here<<", business_users_path %></h5>
	<% end %>
	</p>
<!-- This is the navigation bar -->
	<nav>
		<%= link_to "Home", seatyourself_index_path %>
		<%= link_to "About", seatyourself_about_path %>
	</nav>


	<%= yield %>



</body>
</html>
